* {
  margin: 0;
}
center {
  text-align: center;
}
right {
  float: right;
}
left {
  float: left;
}


/*color*/

.jk-red {
  color: red;
}
.jk-green {
  color: green;
}
.jk-yellow {
  color: yellow;
}
.jk-blue {
  color: #0066ff;
}
.jk-orange {
  color: orange;
}
.jk-dark {
  color: black;
}
.jk-white {
  color: white;
}
.jk-pink {
  color: pink;
}
.jk-skyBlue {
  color: skyblue;
}


/* background color*/

.jk-bg-red {
  background-color: red;
}
.jk-bg-green {
  background-color: green;
}
.jk-bg-yellow {
  background-color: yellow;
}
.jk-bg-blue {
  background-color: #0066ff;
}
.jk-bg-orange {
  background-color: orange;
}
.jk-bg-dark {
  background-color: black;
}
.jk-bg-white {
  background-color: white;
}
.jk-bg-pink {
  background-color: pink;
}
.jk-bg-skyBlue {
  background-color: skyblue;
}


/*margin*/

.jk-mg-sm {
  margin: 5px;
}
.jk-mg-me {
  margin: 10px;
}
.jk-mg-lg {
  margin: 20px;
}
.jk-mg-xl {
  margin: 30px;
}


/*padding*/
.jk-padding-sm {
  padding: 3px;
}
.jk-padding-me {
  padding: 6px;
}
.jk-padding-lg {
  padding: 10px;
}
.jk-padding-xl {
  padding: 15px;
}

/*container*/

.jk-container {
  padding: 20px;
  margin: 20px;
}
.jk-container-fluid {
  padding: 20px;
}


/*Border*/

.jk-br-dotted {border-style: dotted;}
.jk-br-dashed {border-style: dashed;}
.jk-br-solid {border-style: solid;}
.jk-br-double {border-style: double;}
.jk-br-groove {border-style: groove;}
.jk-br-ridge {border-style: ridge;}
.jk-br-inset {border-style: inset;}
.jk-br-outset {border-style: outset;}
.jk-br-none {border-style: none;}
.jk-br-hidden {border-style: hidden;}
.jk-br-mix {border-style: dotted dashed solid double;}


/* Text-tramsform */

.jk-trans-up {
  text-transform: uppercase;
}
.jk-trans-lo {
  text-transform: lowercase;
}
.jk-trans-ca {
  text-transform: capitalize;
}


/* text-spacing*/

.jk-indent {
  text-indent: 50px;
}


/* text fonts*/

.jk-fonts-times {
  font-family: 'Times New Roman', Times, serif;
}
.jk-fonts-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.jk-fonts-monospace {
  font-family: 'Courier New', Courier, monospace;
}
.jk-fonts-cursive {
  font-family: cursive;
}
.jk-fonts-normal {
font-family: none;
}
.jk-fonts-italic {
  font-style: italic;
}
.jk-fonts-oblique {
  font-style: oblique;
}
.jk-fonts-bold {
  font-weight: bold;
}


/* Text size */

.jk-tx-sm {
  font-size: 14px;
}
.jk-tx-me {
  font-size: 18px;
}
.jk-tx-lg {
  font-size: 25px;
}
.jk-tx-xl {
  font-size: 35px;
}


/* display */

.jk-inline {
  display: inline;
}
.jk-block {
  display: block;
}
.jk-none {
  display: none;
}
.jk-hide {
  visibility: hidden;
}


/* position*/

.jk-static {
  position: static;
}
.jk-relative {
  position: relative;
}
.jk-fixed {
  position: fixed;
}
.jk-sticky {
  position: sticky;
  position: -webkit-sticky;
}


/* opacity */

.jk-smoke-me {
  opacity: 1.0;
}
.jk-smoke-lg {
  opacity: 0.5;
}


/* hover dropdown */

.jk-dropdown {
  position: relative;
  display: inline-block;
}

.jk-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.jk-dropdown:hover .jk-dropdown-content {
  display: block;
}


/* hover */

.jk-hover:hover {
  opacity: 0.5;
}



/*hover background color*/

.jk-bg-red-hover:hover {
  background-color: red;
}
.jk-bg-green-hover:hover {
  background-color: green;
}
.jk-bg-yellow-hover:hover {
  background-color: yellow;
}
.jk-bg-blue-hover:hover {
  background-color: #0066ff;
}
.jk-bg-orange-hover:hover {
  background-color: orange;
}
.jk-bg-dark-hover:hover {
  background-color: black;
}
.jk-bg-white-hover:hover {
  background-color: white;
}
.jk-bg-pink-hover:hover {
  background-color: pink;
}
.jk-bg-skyBlue-hover:hover {
  background-color: skyblue;
}



/* hover color*/

.jk-red-hover:hover {
  color: red;
}
.jk-green-hover:hover {
  color: green;
}
.jk-yellow-hover:hover {
  color: yellow;
}
.jk-blue-hover:hover {
  color: #0066ff;
}
.jk-orange-hover:hover {
  color: orange;
}
.jk-dark-hover:hover {
  color: black;
}
.jk-white-hover:hover {
  color: white;
}
.jk-pink-hover:hover {
  color: pink;
}
.jk-skyBlue-hover:hover {
  color: skyblue;
}

